<?xml version="1.0"?>
<ruleset name="Remedy YouTube Caption Overlay">
  <description>Drupal coding standards checks for the standalone module.</description>

  <arg name="extensions" value="php,module,inc,install,profile,theme,yml,twig,js,css"/>
  <arg name="colors"/>
  <config name="drupal_core_version" value="10"/>

  <file>youtube_caption_overlay.module</file>
  <file>youtube_caption_overlay.info.yml</file>
  <file>youtube_caption_overlay.libraries.yml</file>
  <file>config</file>
  <file>css</file>
  <file>js</file>
  <file>src</file>
  <file>templates</file>

  <exclude-pattern>vendor/*</exclude-pattern>
  <exclude-pattern>node_modules/*</exclude-pattern>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
